.content
	min-height: 440px

.content__container
	height: 100%
	display: flex
	flex-direction: row

	@media (max-width: $tablet)
		flex-direction: column

.content__column
	width: 33.33%
	min-height: 100%
	margin-left: 20px
	display: flex
	flex-direction: column
	align-content: stretch
	overflow-y: auto

	@media (max-width: $tablet)
		width: 100%
		margin-left: 0
		padding: 0 20px

.content__column:last-child
	margin-right: 20px

	@media (max-width: $tablet)
		margin-right: 0

.content__column--main
	min-height: 410px

	@media (max-width: $tablet)
		min-height: 150px

.content__title
	font-family: $bree
	font-size: 38px
	color: $content__title
	padding: 35px 0
	line-height: 1.4

	@media (max-width: $phone)
		font-size: 28px
		padding: 20px 0
		line-height: 1.2
		text-align: center

.content__image
	float: left
	margin: 0 20px 20px 2px
	border: 2px solid #fff
	display: inline-block
	box-shadow: 0 0 0 2px $content__layer--border
	filter: grayscale(100%)
	vertical-align: text-top

.content__text
	font-family: $text
	font-size: 14px
	line-height: 22px
	color: $content__text
	text-align: justify

.content__column--link
	display: flex
	flex-direction: column

.content__text:first-of-type
	position: relative
	top: -4px

.content__more
	@extend .content__text
	top: 0

.content__link
	font-family: $text
	font-size: 14px
	color: $content__more
	margin: 20px 0
	text-align: right

	&:hover
		color: $content__more--hover
		cursor: pointer

.opened
	display: block

.closed
	display: none

.red
	color: red
	
